/* Estilos personalizados sutiles */
body {
    background-color: #F9F8F4;
    color: #1E2320;
}

/* Ocultar scrollbar pero permitir scroll */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #E5E1D8; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #C5A059; }

/* Clase para el enlace activo en el menú */
.nav-active {
    color: #1A4331 !important;
    font-weight: 700;
}
.nav-active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #C5A059;
    border-radius: 2px;
}
